body {
	font-family: Arial
	color: #31394D;
	background-color: #edede8;
	display: flex;
    	flex-direction: column;
	align-items: center;
 }

h1.topline {
	padding-top:100px;
	color: #31394D;
	font-size: 30pt;
	text-transform: capitalize;
	text-align: center;
	
 }	
 h1.secondline {
	padding-top:50px;
	color: #31394D;
	font-size: 30pt;
	text-transform: capitalize;
	text-align: center;
	
 }	
h1.thirdline {
	color: #31394D;
	font-size: 28pt;
	text-transform: capitalize;
	text-align: center;
	}
 footer {
	 padding-top:50px;
	 text-align:center;
	 color: #31394D;
	 font-size: 20pt;
	 }	

.logo {
	max-width:100%;
	height:auto;	   
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	padding-top:10px;
}

.col {
	column-count: 2;
	width: 50%;
	text-align:center;
	color: #31394D;
	font-size: 28pt;
	text-transform: capitalize;
	}

.tool {
	color: #31394D;
	font-size: 28pt;
	text-decoration: none;
	text-align: center;
	}

.Twitter{
	max-width:100%;
	height:auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 3%;
	background-color:#edede8;
}
.insta{
	display: block;
        margin-left: auto;
        margin-right: auto;
        width: 3%;
        background-color:#edede8;
}
.youtube{
	display: block;
        margin-left: auto;
        margin-right: auto;
        width: 3%;
        background-color:#edede8;
}
.Twitch{
	   display: block;
           margin-left: auto;
           margin-right: auto;
           width: 3%;
           background-color:#edede8;
}
.Twitch2{
           display: block;
  	   margin-left: auto;
           margin-right: auto;
           width: 3%;
           background-color:#edede8;
}
 
  h3.page {
        color: #31394D;
	font-size: 5pt;
	text-transform: capitalize;
	text-align: center;
 }	
 
   h2 {
        color: #31394D;
	padding-left: 10%;
	font-size: 120%;
	text-align: center;
 }	
   .list {
	color: #31394D;
	font-size: 100%;
	
   }
	
.listtile{	
	color: #31394D;
	font-size: 100%;	
	text-decoration: underline;
 }	
    .form {
		padding-right:20%;
		padding-left:20%;
	color: #31394D;
	font-size: 100%;
	}


.support {
	color: #31394D;
	font-size: 120%;
	text-align: center;
}
