
/* comments
good practice to have 

body { 
	font-family: Arial, san-serif;<div style="background-color:white; color:#31394D; padding:20px;">
}

 */
 body{
	 color:#31394D;
	background-color:#edede8;
 }
	 
 h1.topline {
	 padding-top:100px;
	        margin-left: auto;
		margin-right: auto;
		color: #31394D;
		font-size: 30pt;
		text-transform: capitalize;
		text-align: center;
		text-decoration: none;
 }	

.phead {
	color: #31394D;
	font-size: 30pt;
	text-align: center;
}
		
.logo{
	   max-width:100%;
	   height:auto;	   
	   display: block;
		margin-left: auto;
		margin-right: auto;
		width: 20%;
		padding-top:10px;
}

.tool {
	color: #31394D;
	font-size: 28pt;
	text-decoration: none;
	text-align: center;
	text-decoration: none;
}

.main1 {
	    
		padding-left:20%;
		float: left;
		width: 30%
		color: #31394D;
		font-size: 30pt;
		text-transform: capitalize;
		text-align: center;	
		text-decoration: none; 
        
}
.main2 {
	 
	padding-right:20%;
	float: right;
	width: 30%
		color: #31394D;
		font-size: 30pt;
		text-transform: capitalize;
		text-align: center;	
		text-decoration: none; 
       
}
p {
	color: #31394D;
		font-size: 100%;
	background-color:#edede8;
}
.Twitter{
	max-width:100%;
	height:auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 3%;
	background-color:#edede8;
}
.insta{
	   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  background-color:#edede8;
}
.youtube{
	   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  background-color:#edede8;
}
.Twitch{
	   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  background-color:#edede8;
}
.Twitch2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  background-color:#edede8;
}
  h3.footer {
color: #31394D;
	padding-top: 80%;
		font-size: 15pt;
		text-transform: capitalize;
		text-align: center;
 }	
 
  h3.page {
color: #31394D;
		font-size: 5pt;
		text-transform: capitalize;
		text-align: center;
 }	
 
   h2 {
color: #31394D;
	padding-left: 10%;
		font-size: 120%;
		text-align: center;
 }	
   .list {
	color: #31394D;
	font-size: 100%;
	}
	
.listtile{	
	color: #31394D;
	font-size: 100%;	
	text-decoration: underline;
 }	
    .form {
		padding-right:20%;
		padding-left:20%;
	color: #31394D;
	font-size: 100%;
	}


.support {
color: #31394D;

		font-size: 120%;
		text-align: center;
}
