html { 
	background-color: #edede8;
	font-family: Arial;
	color: #31394D;
	text-align:center;
}

header {
  display: flex;
  text-align:center;
  }

#img { 
  width: 45%;
  margin: auto;
  align-items: top;
  align-items: left;
}

#nav-bar {
 width: 100%;
 margin: auto;
 }

#nav-list {
  list-style: none;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20pt;
 
}

.nav-link {
	color: #31394D;
	background-color: transparent;
	text-decoration: none;
}


.nav-link:hover {
	color: red;
	background-color: transparent;
	text-decoration: none;
}

.nav-link:visited {
  color: #31394D;
  background-color: transparent;
  text-decoration: none;
}

.nav-link:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.secondline{
	font-family: Arial;
	color: #31394D;
	align-items:center;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 22pt;
	padding-top: 2%;
}

body {
	font-family: Arial;
	color: #31394D;
	align-items:center;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 10pt;
	
}


ul#menu li {
	display:inline;
	align-items:center;
	text-align:center;
	
}

footer{
	font-family: Arial;
	color: #31394D;
	text-align:center;
	font-size: 10pt;

}	

a:link {
  color: #31394D;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #31394D;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
 
textarea {
	 resize: none;
 }
 
.logo {
	max-height:5%;  
	max-width:5%;
	display: block;
}

.insta{
	width: 2%;
}

.Twitter{
	width: 2%;
}

.youtube{
	width: 2%;
}

.Twitch{
	width: 2%;
}

.why{
	padding-bottom:  2%;
	font-size: 15pt;
}

.Cproject{
	padding-bottom:  2%;
	font-size: 15pt;
	
}

.goal{
	padding-bottom: 2%;
	font-size: 15pt;
}

.tool{
	font-size: 15pt;
	padding-top: 3%;
}

.Gsocials{
	font-size: 15pt;
}

ul.list{
	list-style-type : circle;
	text-align: left;

	
}

.listtile{
	text-decoration: underline;
	text-align: left;
}

.text{	
text-align: left;
}